h1 {
  text-align: center;
}

body {
  display: block;
}

.game {
  height: 500px;
  width: 500px;
  display: block;
  margin: auto;
  border: black solid 1px;
}

.row {
  display: inline-block;
  clear: both;
}

.square {
  width: 20px;
  height: 20px;
  float: left;
}

.snake {
  background-color: black;
}

.apple {
  background-color: green;
}



